.Button{
    margin-bottom: 15px;
    margin-top: 15px;
    background-color: #FF0000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
#uploadButton{
    margin: 0 auto;
}
input[type="file"] {
    display: none;
}
#selectButton{
    margin-top:20vh;
}
